<% provide(:title, "Edit profile") %>
<% provide(:submit_path, edit_user_path(@user) )%>
<% provide(:button_text, "Submit change" )%>

<h1>Edit Profile</h1>
<%= render partial: "users/partials/form" %>
